.container {
  display: flex;
}

:root {
  --container-width: 800px;
}

.container {
  width: var(--container-width);
}

@custom-selector :--headings h1, h2, h3, h4, h5, h6;

:--headings {
  color: mediumblue;
}

.title,
.content {
  background: #fff;
  font-size: 0.9em;
  margin: 0;
}

body {
  display: grid;
  grid-columns: 200px 1% 1fr;
  grid-rows: auto 15px auto 15px auto;
}
